body {
    font-family: Arial, sans-serif;
    background: #f3f3f3;
    padding: 30px;
}

h1 {
    text-align: center;
}

table {
    width: 80%;
    margin: auto;
    border-collapse: collapse;
    background: #ffffff;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.1);
}

th, td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

th {
    background: #0b57d0;
    color: white;
}
